#inputmsg
{
	/*width: 100%;*/
	flex: 1;
	background-color: sandybrown;
	overflow: scroll;
	padding: 10px;
}
#tell
{
	width: 100%;
	height: 110px;
	/*border-bottom: 1px solid;*/
	display: flex;
	margin: 5px;
}
#retell
{
	width: 100%;
	height: 110px;
	/*border-bottom: 1px solid;*/
	display: flex;
	justify-content: flex-end;
	margin: 5px;
}
#head
{
	width: 110px;
	height: 110px;
}
#head img
{
	width: 110px;
	height: 110px;
}
#ttt
{
	width: 500px;
	height: 110px;
	font-size:70px;
	background-color: white;
	border-radius: 8px;
	line-height: 110px;
}
#ttt span
{
	color: #000000;
}
#qqq
{
	width: 500px;
	height: 110px;
	font-size:70px;
	background-color: white;
	border-radius: 8px;
	line-height: 110px;
}
#qqq span
{
	color: #000000;
}
