#no1
{
	width: 426px;
	height: 250px;
	border: 2px solid blue;
	border-radius: 37px 37px 0px 37px;
    margin-left: 100px;
}


#subno1
{
	width: 286px;
	height: 167px;
	border: 1px;
	text-align: left;
	position: absolute;
	left: 186px;
	top: 50px;
}
#subno1 h1
{
	font-size: 35px;
	color: blue;
}
#subno1 h2
{
	font-size: 20px;
	color: blue;
}
#subno2
{
	width: 98px;
	height: 98px;
	border: 1px;
	background-color: white;
	position: absolute;
	left: 61px;
	top: 59px;
}
#subsubno2
{
	width: 68px;
	height: 68px;
	border: 3px solid blue;
	border-radius: 34px;
	position: absolute;
	left: 13px;
	top: 13px;
}
#subsubno2 span
{
	font-size: 30px;
	color: blue;
	font-weight: bold;
	position: absolute;
	left: 23px;
	top: 14px;
}
#subno3
{
	width: 39px;
	height: 37px;
	border: 1px;
	background-color: white;
	position: absolute;
	left: 497px;
	top: 227px;
}

#subno4
{
	width: 12px;
	height: 12px;
	border: 3px solid blue;
	background-color: white;
	border-radius: 8px;
	position: absolute;
	left: 528px;
	top: 244px;
}
